.filter__label {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    width: 400px;
    
}
.filter__input {
    width: 200px;
    height: 30px;
    font-size: 20px;
    border-color: darkgray;
    border-radius: 4px;
}